{% extends "base.html" %}
{% block content %}
    <style type="text/css">

        .divided {
            width: 700px;
            padding: 5px;
            border-bottom: 1px solid lightgrey;
        }

        ._club_img {
            height: 200px;
            width: auto;
            clear: both;
            margin-bottom: 20px;
        }
    </style>

    <div class="header">
        <div class="menu_left">
        </div>
    </div>

    <style type="text/css">
        .main_content {
            margin-top: 30px;
            padding: 60px;
            /*text-align: center;*/
            border-left: 3px solid #2185d0;
        }

        input {
            width: 300px;
            margin-bottom: 10px !important;
            margin-left: 20px;
        }
    </style>

    <div class="ui two column centered grid">
        <div class="column"></div>
        <div class="two column centered row">
            <div class="column">
                <div class="ui breadcrumb">
                    <a class="section" href="/institute-dashboard">Home</a>
                    <span class="divider">/</span>
                    <div class="active section"> {{ institute.institution_name }}</div>
                </div>

                <div class="main_content">

                    <style type="text/css">
                        ._club_img {
                            height: 200px;
                            width: auto;
                            clear: both;
                            margin-bottom: 20px;
                        }

                        .list_item {
                            display: inline-flex;
                        }

                        .apply_content {
                            width: 100%;
                        }

                        .details_item {
                            margin-left: 30px;
                        }

                        .ui.label {
                            margin-bottom: 5px;
                        }
                    </style>


                    <div class="list_item">
                        <img src="/{{ MEDIA_URL }}{{ institute.photo }}" class="_club_img">
                        <div class="details_item"><h3>{{ institute.institution_name }} </h3><a
                                href="//{{ institute.website }}" target="_blank">Visit Website</a><br>
                            <label>Phone number: {{ institute.phone_number }}</label><br>
                            <label>Contact email: {{ institute.user.username }}</label><br>
                            <label>Physical Address: {{ institute.address }}</label><br>
                            <div class="apply_content">Lorem ipsum loreum ips
                            </div>
                            {% if user.is_student %}
                                <form method="Post" action="/apply">
                                    {% csrf_token %}
                                    <input type="hidden" name="institute" value="{{ institute.id }}">
                                    <input class="ui button" type="submit" value="Apply">
                                </form>
                                </div>
                                </div>
                                </div>
                                </div>
                            {% else %}
                                {% for add in admission %}
                                    {% if add.institute == institute %}
                                        {% if add.status == 'Open' %}
                                                <span>Deadline: {{ add.deadline }}</span>
                                            <form method="Post" action="/close-admission">
                                                {% csrf_token %}
                                                <input type="hidden" name="institute" value="{{ add.id }}">
                                                <input class="ui button" type="submit" value="Close Application">
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            <form method="Post" action="/open-admission">
                                                {% csrf_token %}
                                                <input type="hidden" name="institute" value="{{ institute.id }}">
                                                <div class="ui select">
                                                    <label>Admission</label>
                                                    <select name="status">
                                                        <option value="Open">Open</option>
                                                        <option value="Open">Close</option>
                                                    </select>
                                                </div>
                                                <div class="ui input">
                                                    <input type="date" name="deadline">
                                                </div>
                                                <div class="ui input">
                                                    <input class="ui button" type="submit" value="Submit">
                                                </div>
                                            </form>
                            {% endif %}


{% endblock %}